<h2 class="page-headline">Welcome, {{user.username}}!</h2>

<div class="row g-3" id="user-profile-page">
  <div class="buttons-user-profile">
    <a href="/user-profile/edit"> Edit </a>
    <form class="delete-form" action="/user-profile/delete" method="POST">
      <button>Delete</button>
    </form>
  </div>

  <div class="user-profile-item">
    <p>Username:</p>
    <h5> {{user.username}}</h5>
  </div>
  <div class="user-profile-item">
    <p>Email: </p>
    <h5>{{user.email}}</h5>
  </div>

  <h6>Your recipes:</h6>

  {{#each user.recipes}}
    <a class="recipe-array-item" href="/recipe/{{this._id}}"> &#9755; {{this.title}}</a>
  {{/each}}

</div>