<div class="row g-3" id="user-profile-page">
  <h2>Welcome, {{userData.username}}!</h2>

  <div class="user-profile-item">
    <p>Username:</p>
    <h5> {{userData.username}}</h5>
  </div>
  <div class="user-profile-item">
    <p>Email: </p>
    <h5>{{userData.email}}</h5>
  </div>

  <h6>Your recipes:</h6>

  {{#each recipesArr}}
    <a class="recipe-array-item" href="/recipe/{{this._id}}"> &#9755; {{this.title}}</a>
  {{/each}}

</div>