<h3> Edit recipe: {{recipe.title}} </h3>

<form action="/recipe/{{recipe._id}}/edit" method="POST" enctype="multipart/form-data">

    <label> Title:
        <input type="text" name="title" value="{{recipe.title}}" />
    </label>

    <br />

    <label> Content:
        <input type="text" name="content" value="{{recipe.content}}" />
    </label>

    <br />

    <label> Cover image:
        <input type="file" name="recipe-cover-image" value="{{recipe.imageURL}}" />
    </label>

    <br />

    <button type="submit"> Save changes </button>
</form>