<h3>All recipes</h3>
<hr /><br />
<div class="container">
    <div class="row" id="testing-grid-row">

        {{#each recipes}} </br>
        <div class="col col-6 col-md-4" id="testing-grid" >
            {{!-- <h3> {{this.title}} </h3> --}}

            <div class="card">
                {{#if this.imageURL}}
                <img class="rounded border recipe-image-list" src="{{this.imageURL}}">
                {{else}}
                <img src="/images/default-image.jpeg" />
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <a href="/recipe/{{this._id}}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>